BOT_TOKEN=tu_token_del_bot
CLIENT_ID=tu_client_id_de_la_app
CLIENT_SECRET=tu_client_secret_de_la_app
GUILD_ID=id_de_tu_servidor
VERIFIED_ROLE_ID=id_del_rol_verificado
UNVERIFIED_ROLE_ID=id_del_rol_sin_verificar
LOG_CHANNEL_ID=id_del_canal_de_registros
WELCOME_CHANNEL_ID=id_del_canal_de_bienvenida_verificacion
REDIRECT_URI=http://localhost:3000/callback
PORT=3000
STATE_SECRET=cambia_esto_por_una_frase_larga_y_aleatoria
ALLOWED_DOMAINS=
